#insertando {
    
    float: left;
    margin-right: 20px;
}

#tiempo {
    
    float: left;
}

#listadoPalabras {
   
    clear: both;
}

#contenedor {
    display: flex;
    justify-content: center;
}