
@{
    ViewBag.Title = "Index";
    string mensajeError = ViewBag.MensajeError;
}

<h2>Acceso</h2>

@using (Html.BeginForm("Entrar", "Index", FormMethod.Post))
{
    <label>
        <input type="text" name="codigo" id="codigoMedico" />
    </label>


    <label>
        <input type="submit" value="Entrar" />
    </label>
}
@if (ViewBag.MensajeError != null)
{
    <label>
        <h3 style="color:red">@mensajeError</h3>
    </label>
}



