
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />

<!DOCTYPE html>
<html>
<body>

    <div>
        <form method="post">
            <p @ViewBag.Estado></p>
            <input type="submit" value="Pulsar">
        </form>
        <br/>
    </div>
    

</body>
</html>

