<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>JS Bin</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <script src="GestoraProductos.js"></script>
</head>
<body>
    <div id="app"></div>

    <template id="ejemplo">

        <table id="tableListadoPedoidos" class="rounded table table-striped align-self-center text-center">
            <thead class="rounded"></thead>
            <tr class="header align-bottom">
                <th scope="col">PEDIDO</th>
                <th scope="col">PROVEEDOR</th>
                <th scope="col">FECHA REGISTRADA</th>
                <th scope="col">ESTADO</th>
                <th scope="col">FECHA RECIBIMIENTO</th>
                <th scope="col">PRECIO</th>
                <th scope="col">DETALLES</th>
            </tr>

            <tbody class="table-body ">
                <!-- V-IF: Si el array de personas no es undefined y tiene más de una persona -->
                <!-- V-FOR: Recorre el array de personas, de modo que se realiza una fila con los atributos de la persona por cada una de ellas -->
                <template v-if="producto != undefined && producto.length > 0" v-for="product of producto">

                    <tr>
                        <td>{{product.codigo}}</td>
                        <td>{{product.nombre}}</td>
                        <td>{{product.descripcion}}</td>
                        <td>{{product.stock}}</td>
                    </tr>
                </template> 

                <!-- Si el listado de personas no es undefined y no entro en el if superior, significa que solo hay una persona -->
                <!-- En este caso no se recorre ya que NO es un array -->
                <template v-if="producto != undefined">
                    <tr>
                        <td>{{product.codigo}}</td>
                        <td>{{product.nombre}}</td>
                        <td>{{product.descripcion}}</td>
                        <td>{{product.stock}}</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
</body>
</html>