
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!DOCTYPE html>

<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <div>
            <a href="/Productos/ListadoProductos">Ir al listado de productos</a>
        </div>
    </body>
</html>

