
@{
    ViewBag.Title = "ListadoProductos";
}

<h2>ListadoProductos</h2>

<!DOCTYPE htmal>

<html>
    <head>
        <title>Listado productos</title>
    </head>

    <body>
        <div>
            <ul>
                <li>Pepino</li>
                <li>Tomate</li>
                <li>Caramelo</li>
                <li>Helad</li>
                <li>Patata</li>
            </ul>
        </div>
    </body>
</html>
